@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}
div {
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
  font-family: 'Open Sans', sans-serif;
}
span {
  font-size: 60px;
  color: red;
  text-decoration: none;
}
span:hover {
  cursor: pointer;
}
h1 {
  text-align: center;
}
.dice {
  width: 50px;
  height: 50px;
}
.avatar {
  width: 50px;
  height: 50px;
}
.horizontal {
  background-color: gray !important;
}
.vertical {
  background-color: blue !important;
}
.frozen {
  opacity: .4;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background-color: blue;
}
.button-error {
  background: #d2734e;
}
.button-warning {
  background: #df7514;
}
.button-secondary {
  background: rgba(108, 67, 223, 0.55);
}
.button-xsmall {
  font-size: 50%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 110%;
}
.button-xlarge {
  font-size: 150%;
}
