doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Yahtzee
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    .pure-g
      .pure-u-1-4
        h1 Yahtzee
      .pure-u-3-4
        span.arrow#up &#65514; &nbsp;
        span.arrow#down &#65516; &nbsp;
        span.arrow#left &#65513; &nbsp;
        span.arrow#right &#65515;
    div
        .pure-g
          .pure-u-2-4
            form.pure-form
              fieldset
                h3 N e w P l a y e r
                input#username(type="text", placeholder="Username")
                input#avatar(type="text", placeholder="Avatar URL")
                button#add.pure-button.pure-button-primary Add Player

          .pure-u-2-4
            form.pure-form
              fieldset
                h3 S c o r i n g
                input#score(type="text", placeholder="Score")
                | &nbsp;
                button#add-score.pure-button.pure-button-primary Add Score


        .pure-g
          .pure-u-1-2
            #dice
              img.dice.frozen(src='media/1.png')
              | &nbsp;
              img.dice.frozen(src='media/1.png')
              | &nbsp;
              img.dice.frozen(src='media/1.png')
              | &nbsp;
              img.dice.frozen(src='media/1.png')
              | &nbsp;
              img.dice.frozen(src='media/1.png')
          .pure-u-1-2
            button.pure-button.button-success#roll Roll Dice


        .pure-g
          .pure-u-1
            table#game.pure-table
              thead
                tr
                  th Avatar
                  th Name
                  th 1
                  th 2
                  th 3
                  th 4
                  th 5
                  th 6
                  th 7
                  th 8
                  th 9
                  th 10
                  th 11
                  th 12
                  th 13
                  th Total
              tbody



    script(src='js/vendor/jquery-2.1.0.js')
    script(src='js/source/main.js')
